<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="\simulator\1"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/simulator/src/main/com/plectix/simulator/SimulationMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.plectix.simulator.SimulationMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--short-console-output --contact-map data/ENG120.ka --no-dump-iteration-number --no-dump-rule-iteration --no-build-influence-map --no-compute-quantitative-compression --no-compute-qualitative-compression --no-enumerate-complexes  --compute-sub-views"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="simulator"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx1024m -Xms1024m"/>
</launchConfiguration>
